body { background-color: #b0c7ca }

textarea, input {
  display: block;
  width: 100%;
}

input {
  height: 36px;
  font-size: 24px;
}

textarea {
  height: 200px;
  font-size: 18px;
}

.btn {
  background: #194d53;
  color: white;
  margin: 10px;
}

.btn-primary {
  border: none;
}

.card {
  margin: 15px;
}

#articles {
  display: inline-block;
  overflow: auto;
  width: 90%;
  height: 90%;
  margin: 15px;
}

#article-img {
  width: 25%;
  max-width: 230px;
  float: right;
  margin: 10px;
}

#article-sum {
  width: 70%;
  max-width: 650px;
  float: left;
}

#notes {
  width: 100%;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan .fa, .active-cyan-2 .fa {
  color: #4dd0e1;
}
